<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.creantreprise"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionnaireEntree"
            android:label="@string/title_activity_questionnaire_entree" >
        </activity>
        <activity
            android:name=".institutionsMayenne"
            android:label="Institutions en mayenne" >
        </activity>
        <activity
            android:name=".ChoixStatut"
            android:label="@string/title_activity_choix_statut" >
        </activity>
        <activity
            android:name=".EntrepriseInd"
            android:label="@string/title_activity_entreprise_ind" >
        </activity>
        <activity
            android:name=".Sas"
            android:label="@string/title_activity_sas" >
        </activity>
        <activity
            android:name=".Sarl"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sarl"
            android:parentActivityName=".ChoixStatut" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.creantreprise.ChoixStatut" />
        </activity>
        <activity
            android:name=".Eurl"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_eurl"
            android:parentActivityName=".ChoixStatut" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.creantreprise.ChoixStatut" />
        </activity>
        <activity
            android:name=".affichageBilan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_affichagebilan"
            android:parentActivityName=".affichageBilan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.creantreprise.ChoixStatut" />
        </activity>
    </application>

</manifest>
